.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 15px;
  padding: 10px;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  border: 2px solid lightblue;
  text-align: center;
  border-radius: 25px;
  color: white;
}

.card__image {
  border-radius: 25px;
  width: 15rem;
  object-fit: cover;
}

.info__name {
  font-weight: 700;
}

.info__rname {
  padding-left: 20px;
  text-align: left;
}

.info__publisher {
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
}

.inputField {
  text-align: center;
  border-radius: 25px;
  height: 2rem;
}

.headline {
  margin-top: 0;
  font-weight: bold;
  color: blue;
  text-align: center;
}
